#subtitle{
    font-style: italic;
}

@media screen and (max-width: 412px) {
    #main-image{
        size: 1em;
    }
  }  

ul{
    list-style-type: none;
    /* he/ight: 40%; Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto;
    border: 1px solid #555;
}

li{
    display: block;
    padding: 10px;
    border-bottom: 1px solid #555;
}
